body {
	margin: 0px;
	font-family: Georgia, serif;
	-webkit-font-smoothing: antialiased;
	background: #F8F8F8;
}

a {
	color: #227CE8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #589FF3;
}

#left-bar {
	font-family: Helvetica, sans-serif;
	position: fixed;
	left: 15px;
	top: 15px;
	width: 80px;
}

.content {
	margin-left: 64px;
	margin-right: 64px;
	margin-bottom: 50px;
	font-size: 11pt;
}

/*
.content p {
	width: 680px;
}*/

.toc ul {
	margin: 0;
	padding: 0;
}

.toc li {
	list-style: none;
	padding: 2px 0px;
	margin: 0;
	color: #777;
	// border-bottom: 1px solid #EEE;
}

.toc2 li {
	padding: 2px 1em;
}

#left-bar #sections {
	display: none;
}
#left-bar #sections a {
	background-color: #0B4B97;
	padding: 3px 5px;
	color: white;
	font-weight: bold;
}

#left-bar #sections a:hover {
	text-decoration: none;
	background-color: #227CE8;
}
